body {
        font-family: Arial, sans-serif;
        background: #c7d0d3;
        margin-top: 8%;
        background-image: url(./img/91b928bb-7a4d-47a4-809c-34092bfe5154\ 2.png);
    }



    .container {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        width: 380px;
        background:#a7805f;
;
        border-radius: 20px;
        padding: 25px;
        box-shadow: 0 8px 20px rgba(0,0,0,0.15);
        display: flex;
        gap: 20px;
    }

    .card img {
        width: 130px;
        height: 130px;
        border-radius: 10px;
        object-fit: cover;
    }

    .info h2 {
        margin: 0;
        font-size: 24px;
        color: #333;
    }

    .info p {
        margin: 5px 0;
        color: #ffffff;
        font-size: 18px;
    }

    .info a {
        text-decoration: none;
        color: #2a6edb;
        font-size: 16px;
    }

    .botonvolver { 
top: 180px;
right: 870px;
font-size: 30px;
padding: 3px 15px;
background-color: #a7805f;
color: #E7D7D3;
font-family: "IM Fell English SC", serif;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.botonvolver:hover {
  background-color: #22180f;    
  transform: scale(1.03);         
}

.boton {
margin-top: 3%;
margin-bottom: 3%;
display: flex;
justify-content: center;

}
