. {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 background-color: #E7D7D3;
}

.titulocontenedor {  
background-color: #a7805f;
padding: 0.2px;
padding-left: 15px;
color: #E7D7D3;

}

.portada img { 
    width: 200px;
    height: auto;
    padding-top: 10px;
    padding-left: 10px;

}

.botonver { 
position: absolute;
top: 180px;
right: 870px;
font-size: 30px;
padding: 3px 15px;
background-color: #a7805f;
color: #E7D7D3;

}

.añadirafav { 
position: absolute;
top: 180px;
right: 630px;
font-size: 30px;
padding: 3px 15px;
background-color: #a7805f;
color: #E7D7D3;

}

.sinopsis { 
position: relative;
top: 30px


}